body {
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
    flex-flow: column, nowrap;
    margin: 0;
}

.flex-container {
    display: flex;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    height: 50px;
    margin: 10px;
}

#navbar {
    margin-right: 10px;
    align-self: flex-end;
}

.navlinks {
    list-style: none;
    flex-wrap: wrap;
}

nav a {
    color: seashell;
    text-decoration: underline;
    margin: 10px;
}

#mission {
    width: 1200px;
    height: 700px;
    padding-top: 70px;
    background-image: url("./resources/img-mission-background.jpg");
    align-items: center;
}

h2, h4 {
    flex-direction: column;
    background-color: black;
    margin: 0px;
    width: 1200px;
    padding: 10px;
}

.store {
    width: 1000px;
    height: 700px;
}

.tea-card {
    flex-direction: row;
    margin: 10px;
}

.tea-card img {
    height: 200px;
    width: 300px;
}

#locations {
    background-image: url("./resources/img-locations-background.jpg");
    width: 1200px;
    height: 500px;
    padding-top: 70px;
    align-items: center;
}

#locations h2 {
    background-color: transparent;
}

.location-card {
    width: 300px;
    height: auto;
    background-color: black;
    margin-top: 15px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
}

/* justify-content = main axis */
/* align-items = cross axis (no need to do separate vertical and horizontal containers) */